extends layout

block js
	script(src="//cdn.jsdelivr.net/ace/1.1.3/min/ace.js")
	script(src="//cdn.jsdelivr.net/ace/1.1.3/min/ext-modelist.js")
	script(src="/js/editor.js")

block content
	.row(ng-controller="EditorController")
		.col-sm-4#fileNavigator(style="padding-left:0; padding-right:0;")
			#fileNav.btn-group.btn-group-justified
				a.btn.btn-sm.btn-primary(href="/admin/users" style="margin-top:0;") Manage Users
				a.btn.btn-sm.btn-danger(ng-click="selectFile(selectedFile)" ng-disabled="!selectedFile.dirty")
					i.fa.fa-fw.fa-times
					|  Cancel
				a.btn.btn-sm.btn-success(ng-click="saveFile(selectedFile)" ng-disabled="!selectedFile.dirty")
					i.fa.fa-save.fa-fw
					|  Save File

			form.input-group#fileLocation
				input.form-control(placeholder="Working Directory" ng-model="pwd" autofocus)
				.input-group-btn
					button.btn.btn-default(ng-click="loadFiles(pwd)")
						i.fa.fa-fw.fa-hand-o-right

			span.text-danger(ng-show="status" ng-bind="status" style="padding: 15px;")

			ul.list-unstyled.file-nav
				li(ng-show="pwdOriginal != '/'")
					a(ng-click="loadFiles(pwdOriginal+'../')")
						i.fa.fa-fw.fa-angle-up
						|  Parent Directory
				li(ng-repeat="file in files" ng-class="{ active: file.active }")
					a(ng-click="selectFile(file)")
						i.fa.fa-fw(ng-class="{ 'fa-file-code-o': !file.isFolder, 'fa-folder': file.isFolder }")
						|  {{ file.name }}
		.col-sm-8
			//- editor
			ace-editor#editor
	
	#footer.col-sm-4
		div(style="height: 20px; padding: 10px;")
			iframe(src="http://ghbtns.com/github-btn.html?user=matejkramny&repo=nginx-manager&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20")
			iframe(src="http://ghbtns.com/github-btn.html?user=matejkramny&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20")
			a.pull-right.btn.btn-xs.btn-default(href="/auth/logout" style="margin-top:0;")
				| Logout 
				i.fa.fa-sign-out.fa-fw